<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kirkbushman.sampleapp">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:name=".SampleApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:networkSecurityConfig="@xml/network_security_config">

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"></activity>
        <activity android:name=".activities.MeActivity"></activity>
        <activity android:name=".activities.TicketActivity"></activity>
        <activity android:name=".activities.TicketsActivity"></activity>
        <activity android:name=".activities.TicketCreateActivity"></activity>
        <activity android:name=".activities.TicketUpdateActivity"></activity>
        <activity android:name=".activities.UserActivity"></activity>
        <activity android:name=".activities.UsersActivity"></activity>
        <activity android:name=".activities.GroupActivity"></activity>
        <activity android:name=".activities.GroupsActivity"></activity>
        <activity android:name=".activities.OverviewActivity"></activity>
        <activity android:name=".activities.OverviewsActivity"></activity>
        <activity android:name=".activities.OrganizationActivity"></activity>
        <activity android:name=".activities.OrganizationsActivity"></activity>
        <activity android:name=".activities.PriorityActivity"></activity>
        <activity android:name=".activities.PrioritiesActivity"></activity>
        <activity android:name=".activities.StateActivity"></activity>
        <activity android:name=".activities.StatesActivity"></activity>
        <activity android:name=".activities.NotificationsActivity"></activity>
        <activity android:name=".activities.ArticleActivity"></activity>
        <activity android:name=".activities.ArticlesActivity"></activity>

    </application>

    <meta-data android:name="android.max_aspect" android:value="2.1" />

</manifest>